*.iml
/local.properties

# Gradle files
.gradle/
app/.gradle/
app/.idea
/build

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml


.DS_Store
/build
/captures
/bintray
/signing
/constants
/keystore
.externalNativeBuild
.cxx
gi
/sdk/local.properties