name: Planned integration tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Set Outager url
      run: |
        fastlane setOutagerUrl url:${{ secrets.OUTAGER_URL }}

    - name: Build and Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 28
        script: ./gradlew sdk:connectedAndroidTest

    - name: Unit tests results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: sdk/build/reports/androidTests/connected/**